################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharp/.vs/CSharp/v16
/CSharp/bin/Debug/net5.0
/CSharp/obj
/Python/.vs
/CSharp/.vs/CSharp/DesignTimeBuild
*.suo
/CSharp/.vs/CSharp/FileContentIndex
